node_modules
dist
*.tsbuildinfo
.vite-dev*.log
.vite-dev*.err
.env
.env.local
.env.*.local
.DS_Store
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.tmp-*
.vite-*.err
.vite-*.log
/*.png
